html {
  font-size: 1rem;
}

@media screen and (min-width: 576px) {
  html {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 1.6rem;
  }
}

body {
  font-family: "Poppins" sans-serif;
  overflow-x: hidden;
}

nav {
  /* we need the width to be 100% or it dies */
  width: 100%;
}

.navbar {
  position: fixed;
  background-color: #169c6c;
  z-index: 1;
}

.navbar ul {
  background-color: #169c6c; /*background of hamburger dropdown*/
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.dropdown-menu {
  background-color: #69e0b7; /*for the k-2 and 3-5 toggle*/
}

nav {
  text-align: center;
}

nav a {
  font-size: 20px;
  color: #3ceeae; /*text color for navbar links*/
  margin-right: 0.9em;
}

#main {
  margin-left: 5%;
  margin-right: 10%;
  margin-bottom: 4%;
  padding-top: 5em; /*this shifts the body down*/
}

#main h2 {
  /*Mission Statement: WHAT HOW HOW EXACTLY?*/
  font-size: 2.5rem;
  color: #3ceeae;
  margin-top: 60px;
}

#main p {
  width: 50%;
  font-size: 1rem;
  color: #20b781;
}

#col2 {
  visibility: hidden;
  width: 0%;
  height: 0%;
}

#col2 img {
  width: 300px;
  height: auto;
  margin: 1rem;
}

@media screen and (min-width: 992px) {
  #col2 {
    visibility: visible;
  }
}

/*TODO we'll figure this out some time...*/
#about-us-button {
  color: #43ffbc; /*text color*/
  font-size: 1.5rem;
  border: none;
  border-radius: 2.5%;
  background-color: #25c48b;
  margin-left: 5rem;
}

.bio-photo {
  width: 300px;
  height: auto;
  margin-bottom: 2.5rem;
}

#about-us-section {
  color: #3ceeae;
}

#group-bio {
  color: #20b781;
  padding: auto 30%;
}

@media screen and (max-width: 768px) {
  .bio-photo,
  .bio-text {
    margin-left: 10%;
  }
  #footer {
    padding-right: 0px;
  }
}
@media screen and (max-width: 992px) {
  #br {
    display: none !important;
  }
}

#footer {
  width: 101%;
  padding-left: 0px;
}

footer {
  width: 100%;
  height: 47px;
  background: #169c6c;
  text-align: right;
}

footer a {
  color: #3ceeae;
  padding-right: 15px;
}

#maya-bio, #nhi-bio, #amanda-bio {
  display: none;
  width: 300px;
  height: auto;
  margin-bottom: 2.5rem;
  transition-delay: 5s;
  transition-property: display;
}