<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Plant-Powered Plates</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet" />
</head>

<body>
  <nav class="navbar navbar-expand-lg">
    <a href="/"><img src="/images/WetLmao5.png" alt="Random Leaf Logo" height="60" /></a>
    <button class="navbar-toggler float-right" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav text-right mx-auto">
        <!--text right for hamburger, mxauto for when it's big-->
        <% if (title === "index") { %>
        <a class="nav-link" href="/"><strong>HOME</strong></a>
        <% } else {%>
        <a class="nav-link" href="/">HOME</a>
        <% } %>
        <!--TODO: add the bolding if-statements to the k-2 and 3-5 dropdown menus at some point-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/k2" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            K-2
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-lg-left" href="#">Games</a>
            <a class="dropdown-item text-lg-left" href="#">More stuff for second graders</a>

            <a class="dropdown-item text-lg-left" href="#">Kindergartener stuff</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/35" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">3-5</a>
          <div class="dropdown-menu " aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-lg-left" href="#">Games for big kids</a>
            <a class="dropdown-item text-lg-left" href="#">More stuff for fifth graders</a>
            <a class="dropdown-item text-lg-left" href="#">Third grade stuff</a>
          </div>
        </li>
        <% if (title === "parents") { %>
        <a class="nav-link" href="/parents"><strong>PARENTS</strong></a>
        <% } else {%>
        <a class="nav-link" href="/parents">PARENTS</a>
        <% } %>
        <% if (title === "educators") { %>
        <a class="nav-link" href="/educators"><strong>EDUCATORS</strong></a>
        <% } else {%>
        <a class="nav-link" href="/educators">EDUCATORS</a>
        <% } %>
        <% if (title === "resources") { %>
        <a class="nav-link" href="/resources"><strong>RESOURCES</strong></a>
        <% } else {%>
        <a class="nav-link" href="/resources">RESOURCES</a>
        <% } %>
      </ul>
    </div>
  </nav>
  <main class="container-fluid pt-5">