<%- include("partials/header") %>

<h3 class="row justify-content-center font-weight-bold">Contact Us</h3>

<div class="row justify-content-center">
  <form class="needs-validation form col-9 col-md-7 col-lg-5" novalidate action="/contactform" method="POST">
    <div class="form-group row">
      <label>First & Last Name<sup>*</sup></label>
      <input type="text" name="name" class="form-control contact-us-input" placeholder="Mark Frerichs" required />
      <div class="invalid-feedback">
        Please provide your name.
      </div>
    </div>
    <div class="form-group row">
      <label>Email address<sup>*</sup></label>
      <input type="email" name="email" class="form-control contact-us-input" placeholder="name@gmail.com" required />
      <div class="invalid-feedback">
        An email address will help us get back to you :)
      </div>
    </div>
    <div class="form-group row">
      <label>Subject<sup>*</sup></label>
      <select class="form-control" name="subject" id="subject" onchange='otherHandler(this.value, this.id);' required>
        <option selected disabled hidden value="">[select topic]</option>
        <option>Content</option>
        <option>Feedback</option>
        <option>Partnership</option>
        <option>Request Materials</option>
        <option value="other">Other</option>
      </select>
      <div class="invalid-feedback">
        Please select a topic!
      </div>
    </div>
    <div class="form-group row" id="subject-other">
      <textarea class="form-control contact-us-input" name="subjectOther" rows="1" placeholder="please specify here..."></textarea>
      <div class="invalid-feedback">
        Please type your message in the box above.
      </div>
    </div>
    <div class="form-group row">
      <label>How did you hear about us?<sup>*</sup></label>
      <select class="form-control" name="referral" id="referral" onchange='otherHandler(this.value, this);' required>
        <option selected disabled hidden value="">[select option]</option>
        <option>We have met in person!</option>
        <option>Search engine (Google, Yahoo, etc.)</option>
        <option>Recommended by friend/colleague</option>
        <option>Social Media (Instagram, Facebook, etc.)</option>
        <option>I have a Gal Gadot Fetish >:)</option>
        <option value="other">Other</option>
      </select>
      <div class="invalid-feedback">
        Please select an option!
      </div>
    </div>
    <div class="form-group row" id="referral-other">
      <textarea class="form-control contact-us-input" name="referralOther" rows="1" placeholder="please specify here..."></textarea>
      <div class="invalid-feedback">
        Please type your message in the box above.
      </div>
    </div>
    <div class="form-group row">
      <label>Type your message below :)<sup>*</sup></label>
      <textarea class="form-control contact-us-input" name="message" id="message-box" rows="3" required></textarea>
      <div class="invalid-feedback">
        Please type your message in the box above.
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <button type="submit" class="btn btn-primary font-weight-bold" id="message-button">Send Message</button>
      </div>
    </div>
  </form>
</div>

<script>
  // JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();

  function otherHandler(val, id) {
    if (val === 'other') {
      if (id === 'subject') {
        $('#subject-other').css({ "display": "block"});
      }
      else {
        $('#referral-other').css({ "display": "block"});
      }
    }
    else {
      if (id === 'subject') {
        $('#subject-other').css({ "display": "none"});
      }
      else {
        $('#referral-other').css({ "display": "none"});
      }
    }
  }
</script>
<%- include("partials/footer") %>