<%- include("partials/header") %>

<h3 class="ml-2">Contact Us</h3>
<form id="contact-form" class="w-100 needs-validation form" novalidate action="/contactform" method="POST">
  <div class="form-group col-9 col-md-3">
    <label for="exampleFormControlInput1">First & Last Name<sup>*</sup></label>
    <input type="text" name="name" class="form-control" id="exampleFormControlInput1" placeholder="Mark Frerichs"
      required />
    <div class="invalid-feedback">
      Please provide your name.
    </div>
  </div>
  <div class="form-group col-9 col-md-3">
    <label for="exampleFormControlInput1">Email address<sup>*</sup></label>
    <input type="email" name="email" class="form-control" id="exampleFormControlInput2" placeholder="name@gmail.com"
      required />
    <div class="invalid-feedback">
      We need your email address so we can get back to you.
    </div>
  </div>
  <div class="form-group col-9 col-md-3">
    <label for="exampleFormControlSelect1">Subject<sup>*</sup></label>
    <select class="form-control" name="subject" id="exampleFormControlSelect1" required>
      <option class="text-secondary" selected disabled hidden>[select topic]</option>
      <option>Content</option>
      <option>Feedback</option>
      <option>Partnership</option>
      <option>Request Materials</option>
      <option>Other</option>
    </select>
    <div class="invalid-feedback">
      Please select a topic!
    </div>
  </div>

  <div class="form-group col-9 col-lg-5">
    <label for="exampleFormControlTextarea1">Type your message below :)<sup>*</sup></label>
    <textarea class="form-control" name="message" id="message-box" rows="3" required></textarea>
    <div class="invalid-feedback">
      Please type your message in the box above.
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Send Message</button>
    </div>
  </div>
</form>


<script>



  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {

    'use strict';
    window.addEventListener('load', function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>

<%- include("partials/footer") %>