<%- include("partials/header") %>
<div class="row">
  <h2 class="col-11 font-weight-bold">
    Here’s how PPP can help teachers...
  </h2>
</div>
<div class="row">
  <p class="col-11">
    In a traditional classroom, these standards will take [research] days
    to complete. The PPP curriculum is designed to be completed within
    [less time] without losing any of the important content or something
    like that.
  </p>
</div>
<div class="row">
  <h3 class="col-11 ml-shift font-weight-bold">
    Interested in implementing the Plant-Powered Plates curriculum at your school?
  </h3>
</div>
<div class="row">
  <p class="col-11">
    Send us a message with the subject [Partnership] and we’ll get back to you ASAP!
  </p>
</div>
<div class="row justify-content-center mt-2">
  <a href="/contactus" class="btn shadow btn-lg contact-us-button font-weight-bold" role="button">Contact Us</a>
</div>
<div class="row">
  <h3 class="col-11 ml-shift">
    Here’s how our curriculum lines up with (California) State standards
  </h3>
</div>
<div class="row justify-content-center">
  <iframe id="state-standards" class="col-11 col-lg-8"
    src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR4UA9fJUHcXIGe9HGI-3SgZ3TK6oW-KAneg45TIZkiRG89JvfCteIwMy_d2zuBbayH-NGEo2Y7-gum/pubhtml?widget=true&amp;headers=false"></iframe>
</div>
<%- include("partials/footer") %>