<%- include("partials/header") %>
<div class="row ml-lg-1 mb-5">
  <!--this makes the text on the home page align correctly, a little ghetto but it WORKS-->
  <div class="col-11 col-lg-6 ml-lg-3">
    <h2 class="font-weight-bold text-uppercase">WHAT?</h2>
    <p class="w-100">
      Plant-Powered Plates (PPP) aims
      <strong>to inspire kids to combat climate change through sustainable food
        choices.</strong>
    </p>
    <h2 class="font-weight-bold text-uppercase">HOW?</h2>
    <p class="w-100">
      Using kid-friendly and engaging videos, handouts, and activities, we hope
      to motivate children to create positive environmental change through their
      everyday eating habits.
    </p>
    <h2 class="font-weight-bold text-uppercase">HOW EXACTLY?</h2>
    <p class="w-100">
      Specifically, our initiative includes the Plant-Powered Plates Challenge,
      a school-wide competition encouraging kids to create their own plant-based
      entrees, some of which can be incorporated into school lunch menus.
      Through this challenge and our other climate-related activities and
      lessons, we hope to empower children to spread environmental awareness and
      activism in their schools, families, and communities. We also hope that
      our program will encourage more nutritious and sustainable options in
      school lunch menus, ultimately fostering a generation of healthier and
      more environmentally-conscious citizens.
    </p>
  </div>
  <div class="col-lg-5" id="about-us-col">
    <div class="row">
      <img src="/images/natureplaceholder.png" alt="Placeholder for Image of the Three of Us?"
        class="ml-5 rounded pt-5" />
    </div>
    <!--PUT THE FIRST BUTTONS IN ONE ROW AND ADDED CONTACT US BUTTON-->
    <div class="row justify-content-center mb-3">
      <a href="#about-us-section" class="btn transparent-button shadow font font-weight-bold active mr-2"
        role="button">ABOUT US</a>
      <a href="#faq" class="btn transparent-button shadow font-weight-bold active" role="button">FAQ</a>
    </div>
    <div class="row justify-content-center">
      <a href="/contactus" class="btn shadow font font-weight-bold contact-us-button active" role="button">Contact
        Us</a>
    </div>
  </div>
</div>
<!--ABOUT US SECTION-->
<!--we need to keep the "about-us-section" so we can jump to it from the button-->
<div id="about-us-section" class="container-fluid">
  <!--this makes the text on the home page align correctly, a little ghetto but it WORKS-->
  <div class="row justify-content-center">
    <!--centers the ABOUT US title-->
    <h2 class="font-weight-bold mb-3 ml-0 mt-5 text-center">About Us</h2>
    <!--THIS MOVES ABOUT US TITLE LEFT & DOWN-->
  </div>
  <div class="row justify-content-center">
    <!--centers the 3 bio pics and bio names-->
    <div class="col-10 col-lg-3 mr-md-3 text-center w-100 bio-containter">
      <h4 class="text-center font-weight-bold">
        AMANDA " "
        MARTIN
      </h4>
      <p class="mx-auto w-100" id="amanda-bio">
        Hi! I’m Amanda and I’m a sophomore at UCLA majoring in
        International Relations. Though a lot of people make fun of me for it, I don't
        have a middle name which makes formatting a lil' pain in the behind. When I’m not
        working on Plant-Powered Plates, I can usually be found running around
        outside, dominating at Just Dance, or trying out a new
        a song on the piano.
      </p>
      <img class="bio-photo mx-auto" id="amanda-photo" src="/images/fufurounded.png" alt="Fufu Placeholder" />
    </div>
    <div class="col-10 col-lg-3 mr-md-3 text-center w-100 bio-containter">
      <h4 class="text-center font-weight-bold">MAYA ROZENSHTEYN</h4>
      <p class="mx-auto w-100" id="maya-bio">
        Hello! I’m Maya and I’m a sophomore at Princeton University majoring in
        computer science. Though a lot of people make fun of me for it, one of
        my favorite plant-based foods is banana baby food :). When I’m not
        working on Plant-Powered Plates, I can usually be found running around
        outside, dancing in my room to some upbeat music, or trying out a new
        recipe in the kitchen.
      </p>
      <img class="bio-photo mx-auto" id="maya-photo" src="/images/fufurounded.png" alt="Fufu Placeholder" />
    </div>
    <div class="col-10 col-lg-3 text-center w-100 bio-containter">
      <h4 class="text-center font-weight-bold">NHI "KNEE" NGUYEN</h4>
      <p class="mx-auto w-100" id="nhi-bio">
        Hey! My name is Nhi (like "knee") and I am a second-year CS major at UCSD. Topics that you can talk to me
        about include but are not limited to: how to set up your Google calendar so that you don't miss all your
        classes, the location of the best bathrooms on campus, and how to avoid accidentally losing half of your points
        on a programming assignment.
      </p>
      <img class="bio-photo mx-auto" id="nhi-photo" src="/images/fufurounded.png" alt="Fufu Placeholder" />
    </div>
  </div>
  <div class="row justify-content-center">
    <p class="col-10 col-lg-9 pl-lg-3 pr-lg-3 mr-lg-4">
      We grew up in San Diego and blah blah blah-ed and then we blah blah
      blah-ed. While attending college, we noticed something something something
      and felt asldkfjklsdfjsdfjkl. After reflecting on this thingy, we wanted
      to create a dfadfjalsdkfj jk to help students and teachers and stuff when
      the kids are still young.
    </p>
  </div>
</div>

<!--FAQ----------------------------------------------------------------------->
<div id="faq" class="container-fluid justify-content-center">
  <!--this makes the text on the home page align correctly, a little ghetto but it WORKS-->
  <div class="row justify-content-center">
    <h2 class="font-weight-bold mb-3 mt-5 text-center">Frequently Asked Questions</h2>
  </div>
  <!--QUESTION 1-->
  <div class="row justify-content-center">
    <h4 class="col-10 faq-questions font-weight-bold">
      How much does this program cost?
    </h4>
  </div>
  <div class="row justify-content-center">
    <p class="col-10">
      Nothing! This program is completely free :)
    </p>
  </div>
  <!--QUESTION 2-->
  <div class="row justify-content-center ">
    <h4 class="col-10 faq-questions font-weight-bold">
      Is Gal Gadot married?
    </h4>
  </div>
  <div class="row justify-content-center">
    <p class="col-10">
      Yes :(
    </p>
  </div>
  <!--QUESTION 3-->
  <div class="row justify-content-center">
    <h4 class="col-10 faq-questions font-weight-bold">
      Is divorce a thing in Israel?
    </h4>
  </div>
  <div class="row justify-content-center">
    <p class="col-10">
      Yes >:)
    </p>
  </div>
</div>
<!--FOOTER-->
<%- include("partials/footer") %>