<%- include("partials/header") %>
<div class="row ml-lg-3 mb-5">
  <!--this makes the text on the home page align correctly, a little ghetto but it WORKS-->
  <div class="col-11 col-lg-6 ml-lg-3">
    <h2 class="font-weight-bold text-uppercase w-100">WHAT?</h2>
    <p class="w-100">
      Plant-Powered Plates aims
      <strong>to inspire kids to combat climate change through sustainable food
        choices.</strong>
    </p>
    <h2 class="font-weight-bold text-uppercase w-100">HOW?</h2>
    <p class="w-100">
      Using kid-friendly and engaging videos, handouts, and activities, we hope
      to motivate children to create positive environmental change through their
      everyday eating habits.
    </p>
    <h2 class="font-weight-bold text-uppercase w-100">HOW EXACTLY?</h2>
    <p class="w-100">
      Specifically, our initiative includes the Plant-Powered Plates Challenge,
      a school-wide competition encouraging kids to create their own plant-based
      entrees, some of which can be incorporated into school lunch menus.
      Through this challenge and our other climate-related activities and
      lessons, we hope to empower children to spread environmental awareness and
      activism in their schools, families, and communities. We also hope that
      our program will encourage more nutritious and sustainable options in
      school lunch menus, ultimately fostering a generation of healthier and
      more environmentally-conscious citizens.
    </p>
  </div>
  <div class="col-lg-3" id="col2">
    <img src="/images/WetLmao5.png" alt="we're WET" class="img-fluid row" />
    <a href="#about-us-section" class="row btn" role="button"><button onclick="newsletterPopup();" type="button"
        id="about-us-button" class="btn shadow rounded btn-lg">
        ABOUT US
      </button></a>
  </div>
</div>
<!--ABOUT US SECTION-->
<div id="about-us-section" class="container-fluid justify-content-center">
  <!--this makes the text on the home page align correctly, a little ghetto but it WORKS-->
  <div class="row justify-content-center">
    <h1 class="font-weight-bold mb-5 mt-5">ABOUT US</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-10 col-lg-3 mr-md-3 text-center w-100 bio-containter">
      <h4 class="text-center">
        AMANDA 
        MARTIN
      </h4>
      <p class="mx-auto" id="amanda-bio">
        Hi! I’m Maya and I’m a sophomore at Princeton University majoring in
        computer science. Though a lot of people make fun of me for it, one of
        my favorite plant-based foods is banana baby food :). When I’m not
        working on Plant-Powered Plates, I can usually be found running around
        outside, dancing in my room to some upbeat music, or trying out a new
        recipe in the kitchen.
      </p>
      <img class="bio-photo mx-auto" id="amanda-photo" src="/images/fufuplaceholder.png" alt="Fufu Placeholder" />
    </div>
    <div class="col-10 col-lg-3 mr-md-3 text-center w-100 bio-containter">
      <h4 class="text-center">MAYA ROZENSHTEYN</h4>
      <p class="mx-auto" id="maya-bio">
        Hi! I’m Maya and I’m a sophomore at Princeton University majoring in
        computer science. Though a lot of people make fun of me for it, one of
        my favorite plant-based foods is banana baby food :). When I’m not
        working on Plant-Powered Plates, I can usually be found running around
        outside, dancing in my room to some upbeat music, or trying out a new
        recipe in the kitchen.
      </p>
      <img class="bio-photo mx-auto" id="maya-photo" src="/images/fufuplaceholder.png" alt="Fufu Placeholder" />
    </div>
    <div class="col-10 col-lg-3 text-center w-100 bio-containter">
      <h4 class="text-center">NHI "KNEE" NGUYEN</h4>
      <p class="mx-auto" id="nhi-bio">
        Hi! I’m Maya and I’m a sophomore at Princeton University majoring in
        computer science. Though a lot of people make fun of me for it, one of
        my favorite plant-based foods is banana baby food :). When I’m not
        working on Plant-Powered Plates, I can usually be found running around
        outside, dancing in my room to some upbeat music, or trying out a new
        recipe in the kitchen.
      </p>
      <img class="bio-photo mx-auto" id="nhi-photo" src="/images/fufuplaceholder.png" alt="Fufu Placeholder" />
    </div>
  </div>
  <div class="row justify-content-center">
    <p class="col-10" id="group-bio">
      We grew up in San Diego and blah blah blah-ed and then we blah blah
      blah-ed. While attending college, we noticed something something something
      and felt asldkfjklsdfjsdfjkl. After reflecting on this thingy, we wanted
      to create a dfadfjalsdkfj jk to help students and teachers and stuff when
      the kids are still young.
    </p>
  </div>
</div>
<!--FOOTER-->
<%- include("partials/footer") %>