<%- include("partials/header") %>
<h3 class="mx-auto text-center">Thank you for contacting us! <br>We'll get back to you shortly.</h3>
<div class="row w-100 justify-content-center mt-4">
    <a href="/" id="return-home-button" class="btn shadow rounded btn font-weight-bold" role="button">RETURN HOME</a>
</div>
<%- include("partials/footer") %>