<%- include("partials/header") %>
<div class="row">
  <h2 class="col-11 font-weight-bold">
    How PPP benefits you and your child
  </h2>
</div>
<div class="row">
  <p class="col-11">
    In a traditional classroom, these standards will take [research] days to complete.
    The PPP curriculum is designed to be completed within [less time] without losing
    any of the important content or something like that.
  </p>
</div>
<div class="row">
  <h2 class="col-11 font-weight-bold">
    Want to know more about how to get involved?
  </h2>
</div>
<div id="newsletter-section" class="row resources-columns rounded ml-5 mr-5 mt-3 mx-auto ">
  <div class="col-12 col-xl-8 text-center">
    <div class="row w-100 ml-0 mr-0 ">
      <h2 id="join-our-newsletter" class="font-weight-bold ml-0 w-100 text-center mt-0">Join our newsletter!</h2>
    </div>
    <div class="row w-100 ml-0 mr-0 ">
      <p id="newsletter-text" class="ml-0 mb-xl-0 w-100 text-center">Great for parents, teachers, or students!</p>
    </div>
  </div>
  <div class="col-12 col-xl-3 offset-xl-1 my-auto d-flex justify-content-center">
    <div class="row w-100 ml-0 mr-0 justify-content-center">
      <a href="http://eepurl.com/g_ghfj" target="_blank" id="newsletter-signup-button"
        class="btn shadow rounded btn-lg font-weight-bold mt-lg-1" role="button">SIGN UP</a>
    </div>
  </div>
</div>
<%- include("partials/footer") %>