<%- include("partials/header") %>
<div class="row">
  <h2 class="col-11 font-weight-bold">
    [What message should we send to the parents?]
  </h2>
</div>
<div class="row">
  <p class="col-11">
    In a traditional classroom, these standards will take [research] days to complete. 
    The PPP curriculum is designed to be completed within [less time] without losing 
    any of the important content or something like that.
  </p>
</div>
<div class="row">
  <h2 class="col-11 font-weight-bold">
    Want to know more about how to get involved?
  </h2>
</div>
<div id="newsletter-section" class="row resources-columns rounded ml-5 mr-5 mt-3">
  <div class="col-10">
    <h2 class="font-weight-bold">Join our newsletter!</h2>
    <p id="newsletter-text">Great for parents, teachers, or students</p>
  </div>
  <a href="http://eepurl.com/g_ghfj" target="_blank" class="row btn col-2 my-auto" role="button">
    <button type="button" id="newsletter-signup-button"
      class="btn shadow rounded btn-lg font font-weight-bold float-right">
      SIGN UP
    </button></a>
</div>


<%- include("partials/footer") %>