<%- include("partials/header") %>
      <div class="row">
        <h2 class="col-11 font-weight-bold">
          [What message should we send to the parents?]
        </h2>
      </div>
      <div class="row">
        <p class="col-11">
          We'll try to give your children KNOWLEDGE.
        </p>
      </div>
<%- include("partials/footer") %>