<%- include("partials/header") %>
<div class="row">
  <h2 class="col-11 font-weight-bold">Resources</h2>
</div>
<div class="row">
  <p class="col-11">
    Here is a list of resources if you want to explore the topic
    adksfjlsakjfajeriw JFLKSD..... SAasdfasd asg hweoifjslkjdfsdsdf s
    ....This is by no means an exhausted list....Use this page as a
    starting point for aslkdjfwi sjdflkjsotwuioif kjfaduig lk lfjdouwifw.
  </p>
</div>
<!--RESOURCES (FIRST) COLUMN--------------------------------------------------------------------------------------------------------------------->
<div class="row">
  <div class="col-11 col-lg-5 mx-auto w-100 justify-content-center">
    <h3 class="font-weight-bold text-center">CLIMATE CHANGE</h3>
    <div class="resources-columns rounded">
      <!--FIRST ITEM "ROW"-->
      <div class="row justify-content-center rc-entry">
        <a class="col-4" href="https://yourplanyourplanet.sustainability.google/" target="_blank">
          <!--opens page in new tab-->
          <img class="shadow w-100 rc-entry-image" src="../images/yourplanyourplanetpreview.png"
            alt="Google Your Plan, Your Planet" />
        </a>
        <div class="col-7">
          <a href="https://yourplanyourplanet.sustainability.google/" target="_blank"
            class="row w-100 rc-entry-title font-weight-bold">Your Plan, Your Planet</a>
          <p class="row w-100 rc-entry-desc">
            This interactive site ... presents great visuals to help us
            understand how our habits affect the planet
          </p>
          <div class="row w-100 justify-content-left">
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                3-5
              </button></a>
            <!--TODO:change 35.html to the games page under 3-5-->
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                GAMES
              </button></a>
          </div>
        </div>
      </div>
      <!--SECOND ITEM "ROW"-->
      <div class="row justify-content-center rc-entry">
        <a class="col-4" href="https://tinyurl.com/mayushincollege" target="_blank"><img
            class="shadow w-100 rc-entry-image" src="../images/galgadotplaceholderpreview.png"
            alt="Google Your Plan, Your Planet" />
        </a>
        <div class="col-7">
          <a href="https://tinyurl.com/watchoutforcrazies" target="_blank"
            class="row w-100 rc-entry-title font-weight-bold">Your Site (or Gal Gadot) Here</a>
          <p class="row w-100 rc-entry-desc">
            This interactive site ... presents great visuals to help us
            understand how our habits affect the planet
          </p>
          <div class="row w-100 justify-content-left">
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                18+
              </button></a>
            <!--TODO:change 35.html to the games pageunder3-5-->
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                GAL
              </button></a>
          </div>
        </div>
      </div>
      <!--THIRD ITEM "ROW"-->
      <div class="row justify-content-center rc-entry">
        <a class="col-4" href="https://yourplanyourplanet.sustainability.google/" target="_blank">
          <!--opens page in new tab-->
          <img class="shadow w-100 rc-entry-image" src="/images/galgadotphone.png"
            alt="Gal Gadot with a phone that she doesn't use" />
        </a>
        <div class="col-7">
          <a href="https://yourplanyourplanet.sustainability.google/" target="_blank"
            class="row w-100 rc-entry-title font-weight-bold">July 14</a>
          <p class="row w-100 rc-entry-desc">
            Gal Gadot with a phone that she doesn't use
          </p>
          <div class="row w-100 justify-content-left">
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                18+
              </button></a>
            <!--TODO:change 35.html to the games page under 3-5-->
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                HUAWEI
              </button></a>
          </div>
        </div>
      </div>
      <!--FOURTH ITEM "ROW"-->
      <div class="row justify-content-center rc-entry">
        <a class="col-4" href="https://tinyurl.com/mayushincollege" target="_blank"><img
            class="shadow w-100 rc-entry-image" src="../images/galgadotaunya.png" alt="Google Your Plan, Your Planet" />
        </a>
        <div class="col-7">
          <a href="https://tinyurl.com/watchoutforcrazies" target="_blank"
            class="row w-100 rc-entry-title font-weight-bold">July 17</a>
          <p class="row w-100 rc-entry-desc">
            Flexin' with Canada Goose 🦆
          </p>
          <div class="row w-100 justify-content-left">
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                $900000
              </button></a>
            <!--TODO:change 35.html to the games pageunder3-5-->
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                TAUNYA
              </button></a>
          </div>
        </div>
      </div>
      <!--FIFTH ITEM "ROW"-->
      <div class="row justify-content-center rc-entry">
        <a class="col-4" href="https://tinyurl.com/mayushincollege" target="_blank"><img
            class="shadow w-100 rc-entry-image" src="../images/galgadotnoskincancer.jpg"
            alt="Gal 'holding' sunscreen." />
        </a>
        <div class="col-7">
          <a href="https://tinyurl.com/watchoutforcrazies" target="_blank"
            class="row w-100 rc-entry-title font-weight-bold">Sunscreen Gadot</a>
          <p class="row w-100 rc-entry-desc">
            We must protect Gal from skin cancer at all costs.<br>
            This is July 27 (happy bday Papa).<br>
            Once again, immaculate job, sweetie.
          </p>
          <div class="row w-100 justify-content-left">
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                0+
              </button></a>
            <!--TODO:change 35.html to the games pageunder3-5-->
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                #DefNotPhoshopped
              </button></a>
          </div>
        </div>
      </div>
      <!--SIXTH ITEM "ROW"-->
      <div class="row justify-content-center rc-entry">
        <a class="col-4" href="https://www.jonbellionmerch.com/little-jon-hoodie.html" target="_blank"><img
            class="shadow w-100 rc-entry-image" src="../images/galgadotbutshebecheesin.png"
            alt="Gal Gadot, but she be cheesin'" />
        </a>
        <div class="col-7">
          <a href="https://www.jonbellionmerch.com/little-jon-hoodie.html" target="_blank"
            class="row w-100 rc-entry-title font-weight-bold">This be me in my Little Jon Hoodie :)</a>
          <p class="row w-100 rc-entry-desc">
            It be July 29th
            <br>
            Sweetie how you done messed up the size...it's 355 x 213...it's literally written right there on July 16
          </p>
          <div class="row w-100 justify-content-left">
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                $50
              </button></a>
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                +TAX
              </button></a>
          </div>
        </div>
      </div>
      <!--SEVENTH ITEM "ROW"-->
      <div class="row justify-content-center rc-entry">
        <a class="col-4" href="https://tinyurl.com/mayushincollege" target="_blank"><img
            class="shadow w-100 rc-entry-image" src="../images/galgadotcuteoutfit.jpg" alt="she be lookin' good" />
        </a>
        <div class="col-7">
          <a href="https://tinyurl.com/watchoutforcrazies" target="_blank"
            class="row w-100 rc-entry-title font-weight-bold">Stylish Gadot</a>
          <p class="row w-100 rc-entry-desc">
            What an outfit 🤤.<br>
            This is August 2nd.
          </p>
          <div class="row w-100 justify-content-left">
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                18+
              </button></a>
            <!--TODO:change 35.html to the games page under 3-5-->
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                #NeutralColors
              </button></a>
          </div>
        </div>
      </div>
      <!--SIXTH ITEM "ROW"-->
      <div class="row justify-content-center rc-entry">
        <a class="col-4" href="https://youtu.be/wXgmMp2ZFtE?t=30" target="_blank"><img
            class="shadow w-100 rc-entry-image" src="../images/galgadotbasketball.png"
            alt="I wonder what razor she uses" />
        </a>
        <div class="col-7">
          <a href="https://www.gillettevenus.com/en-us/shaving-products/womens-razors?gclid=CjwKCAjwjqT5BRAPEiwAJlBuBeMWKFJztqMcvuEQmuuWOkfcOVSZR-RZUvjVuPFgYyqa1OUEET8LjBoCLLUQAvD_BwE&gclsrc=aw.ds"
            target="_blank" class="row w-100 rc-entry-title font-weight-bold">Daddy Long Legs</a>
          <p class="row w-100 rc-entry-desc">
            It be August 4th.
            <br>
            I wished I was the razor >:)
          </p>
          <div class="row w-100 justify-content-left">
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                GIL-LIT
              </button></a>
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                +TAX
              </button></a>
          </div>
        </div>
      </div>
      <!--END OF ENTRIES FOR CLIMATE CHANGE (1ST) COLUMN-->
    </div>
  </div>
  <!--HEALTHY EATING (2ND) COLUMN------------------------------------------------------------------------------------------------>
  <div class="col-11 col-lg-5 mx-auto w-100 justify-content-center">
    <h3 class="font-weight-bold text-center">HEALTHY EATING</h3>
    <div class="resources-columns rounded">
      <!--FIRST ITEM "ROW"-->
      <div class="row justify-content-center rc-entry">
        <a class="col-4" href="https://yourplanyourplanet.sustainability.google/" target="_blank"><img
            class="shadow w-100 rc-entry-image" src="../images/galgadotbadlyphotoshoppedontorocks.png"
            alt="Who photoshopped her lmao" />
        </a>
        <div class="col-7">
          <a href="https://yourplanyourplanet.sustainability.google/" target="_blank"
            class="row w-100 rc-entry-title font-weight-bold">July 15</a>
          <p class="row w-100 rc-entry-desc">
            Some eye-candy for yalls...also she shaved so that's nice.
          </p>
          <div class="row w-100 justify-content-left">
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                18+
              </button></a>
            <!--TODO:change 35.html to the games pageunder3-5-->
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                EYE-CANDY
              </button></a>
          </div>
        </div>
      </div>
      <!--SECOND ITEM "ROW"-->
      <div class="row justify-content-center rc-entry">
        <a class="col-4" href="https://tinyurl.com/mayushincollege" target="_blank"><img
            class="shadow w-100 rc-entry-image" src="../images/galgadotjimmyfalloncharadesrarwxd.png" alt="rarw xd" />
        </a>
        <div class="col-7">
          <a href="https://tinyurl.com/watchoutforcrazies" target="_blank"
            class="row w-100 rc-entry-title font-weight-bold">Rah Rah Rah Rah Rah Rah</a>
          <p class="row w-100 rc-entry-desc">
            Want your bad romance >:)<br>
            This is July 15 Pt. 2
          </p>
          <div class="row w-100 justify-content-left">
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                18+
              </button></a>
            <!--TODO:change 35.html to the games pageunder3-5-->
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                STEFANI
              </button></a>
          </div>
        </div>
      </div>
      <!--THIRD ITEM "ROW"-->
      <div class="row justify-content-center rc-entry">
        <a class="col-4" href="https://yourplanyourplanet.sustainability.google/" target="_blank">
          <!--opens page in new tab-->
          <img class="shadow w-100 rc-entry-image" src="/images/galgadotbutweactuallyseeherbackmuscles.png"
            alt="Gal Gadot but we actually see her muscles" />
        </a>
        <div class="col-7">
          <a href="https://yourplanyourplanet.sustainability.google/" target="_blank"
            class="row w-100 rc-entry-title font-weight-bold">July 16</a>
          <p class="row w-100 rc-entry-desc">
            355 x 213 px is difficult.<br>
            But she worth it.
          </p>
          <div class="row w-100 justify-content-left">
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                35+
              </button></a>
            <!--TODO:change 35.html to the games page under 3-5-->
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                ANATOMY
              </button></a>
          </div>
        </div>
      </div>
      <!--FOURTH ITEM "ROW"-->
      <div class="row justify-content-center rc-entry">
        <a class="col-4" href="https://tinyurl.com/mayushincollege" target="_blank"><img
            class="shadow w-100 rc-entry-image" src="../images/galgadotfingers.png" alt=">:)" />
        </a>
        <div class="col-7">
          <a href="https://tinyurl.com/watchoutforcrazies" target="_blank"
            class="row w-100 rc-entry-title font-weight-bold">"Stock Photo"</a>
          <p class="row w-100 rc-entry-desc">
            Nhi Gadot<br>
            This is July 24
          </p>
          <div class="row w-100 justify-content-left">
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                18+
              </button></a>
            <!--TODO:change 35.html to the games page under 3-5-->
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                STOCK
              </button></a>
          </div>
        </div>
      </div>
      <!--FIFTH ITEM "ROW"-->
      <div class="row justify-content-center rc-entry">
        <a class="col-4" href="https://tinyurl.com/mayushincollege" target="_blank"><img
            class="shadow w-100 rc-entry-image" src="../images/galgadotissmart.png" alt="Gal holding water." />
        </a>
        <div class="col-7">
          <a href="https://tinyurl.com/watchoutforcrazies" target="_blank"
            class="row w-100 rc-entry-title font-weight-bold">Smart Gadot</a>
          <p class="row w-100 rc-entry-desc">
            Dang, looking at this photo makes me thirsty.<br>
            This is July 28.<br>
          </p>
          <div class="row w-100 justify-content-left">
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                18+
              </button></a>
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                #DoubleEntendre
              </button></a>
          </div>
        </div>
      </div>
      <!--SIXTH ITEM "ROW"-->
      <div class="row justify-content-center rc-entry">
        <a class="col-4" href="https://tinyurl.com/mayushincollege" target="_blank"><img
            class="shadow w-100 rc-entry-image" src="../images/galgadotworkhardbenice.png" alt="she be eatin' good" />
        </a>
        <div class="col-7">
          <a href="https://tinyurl.com/watchoutforcrazies" target="_blank"
            class="row w-100 rc-entry-title font-weight-bold">"Worketh Hard"</a>
          <p class="row w-100 rc-entry-desc">
            Playeth Hard.<br>
            This is July 31.
          </p>
          <div class="row w-100 justify-content-left">
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                18+
              </button></a>
            <!--TODO:change 35.html to the games page under 3-5-->
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                SNACK
              </button></a>
          </div>
        </div>
      </div>
      <!--SEVENTH ITEM "ROW"-->
      <div class="row justify-content-center rc-entry">
        <a class="col-4" href="https://tinyurl.com/mayushincollege" target="_blank"><img
            class="shadow w-100 rc-entry-image" src="../images/galgadotnuzzling.jpg" alt="she be lookin' good" />
        </a>
        <div class="col-7">
          <a href="https://tinyurl.com/watchoutforcrazies" target="_blank"
            class="row w-100 rc-entry-title font-weight-bold">♥‿♥</a>
          <p class="row w-100 rc-entry-desc">
            This quite honestly one of the cutest things I have EVER seen.<br>
            Like I get tingly every time I look at it.<br>
            Like I kinda want to print it out and hang it in my room.<br>
            Like 93% of why I worked on PPP today is so I could upload this photo.<br>
            This is August 3rd.
          </p>
          <div class="row w-100 justify-content-left">
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                0+
              </button></a>
            <!--TODO:change 35.html to the games page under 3-5-->
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                :)
              </button></a>
          </div>
        </div>
      </div>
      <!--END OF ENTRIES FOR HEALTHY EATING (2ND) COLUMN-->
    </div>
  </div>
</div>
</div>
</div>
<%- include("partials/footer") %>