html {
  font-size: 1rem;
}


/*small screen*/
@media screen and (min-width: 576px) {
  html {
    font-size: 1.2rem;
  }
}
/*medium screen*/
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4rem;
  }
}
/*large screen*/
@media screen and (min-width: 992px) {
  html {
    font-size: 1.6rem;
  }
}

body {
  font-family: "Poppins" sans-serif;
  overflow-x: hidden;
  background-color: #D6EFC7;
}

#site-title-area {
  background-color: #184D47;
}

#site-title {
  font-size: 2.1rem;
}

#site-title-img {
  height: 95px;
  width: auto;
}

/*NAV BAR*//*NAV BAR*//*NAV BAR*//*NAV BAR*//*NAV BAR*//*NAV BAR*//*NAV BAR*//*NAV BAR*//*NAV BAR*/
.small-header{ 
  display: none;
}

.navbar {
  background-color: #184D47;
  z-index: 1;
  width: 100%;
}

/*medium screen*/
@media screen and (max-width: 992px) {
  .small-header{ 
    display: initial;
  }
  #site-title-area {
    display: none;
  }

  .navbar {
    position: fixed;
    top: 0;
  }
}

.navbar ul {
  background-color: #184D47; /*background of hamburger dropdown*/
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.dropdown-menu {
  display: none;
  background-color: #184D47; /*for the k-2 and 3-5 toggle*/
  border-style: none;
}
.nav-item:hover .dropdown-menu{/*drop-down menus display when hovered over, no more mouse clickies >:)*/
  display: block;
}

.dropdown-item {
  text-align: right;
}

nav a {
  font-size: 20px;
  margin-right: 0.9rem; /*moves hamburger dropdown text to the left just a bit*/
}

a:hover {
  text-decoration: none; /*Because we hate underlined links, this is NOT 2004*/
  color: #3ceeae;
}

main {
  min-height: 92vh; /*ensures footer at bottom of page even if there's little page content (see Parents page)*/
}

#main {
  padding-left: 15%;
  padding-right: 15%;
}
h1, h2, h3, h4, .dropdown-menu, .dropdown-item, nav a, label  { /* nav a is text color for navbar links*/
  color: #96BB7C;
}

main h1 {
  font-size: 3.5rem;
}

main h2 {
  /*Mission Statement: WHAT HOW HOW EXACTLY?*/
  margin-left: 5%;
  font-size: 2.5rem;
  margin-top: 60px;
}

main h3 {
  font-size: 2rem;
  margin-top: 60px;
}

.ml-shift {
  /*For the second title in Educators page*/
  margin-left: 5%;
}

main p {
  margin-left: 5%;
  width: 50%;
  font-size: 1rem;
  color: #184D47;
}

#about-us-col {
  display: none;
}

#about-us-col img {
  width: 80%;
  margin-top: 1rem;
}

@media screen and (min-width: 992px) {
  #about-us-col {
    display: initial;
  }
}

.transparent-button { 
  color: #184D47; /*text color*/
  border: 6px solid #184D47;
  border-radius: 20px;
  background-color: #D6EFC7;
  margin-top: 1.5rem;
}

.contact-us-button {
  background-color: #184D47;
  color: white;
}

.contact-us-button:hover {
  color: #3ceeae;
}

.bio-photo {
  width: 90%;
  margin-bottom: 2.5rem;
}

footer {
  width: 100%;
  height: 2rem; /*we made her not fat on weird screens by using rem bc what even are pixels?*/
  background: #184D47;
  text-align: right;
}

footer a {
  padding-right: 15px;
  color: #3ceeae;
}

/*HOME PAGE *//*HOME PAGE *//*HOME PAGE *//*HOME PAGE *//*HOME PAGE *//*HOME PAGE *//*HOME PAGE *//*HOME PAGE *//*HOME PAGE *//*HOME PAGE *//*HOME PAGE */
#maya-bio,
#nhi-bio,
#amanda-bio {
  font-size: 0.7rem;
  display: none;
  width: 300px;
}
/*smaller than large screen*/
@media screen and (max-width: 992px) {
  #maya-bio,
  #nhi-bio,
  #amanda-bio {
    font-size: 1rem;
  }
}

.faq-questions {
  margin-top: 0px;
}

/*NEWSLETTER STUFF*/
#newsletter-section {
  background-color: #184D47;
  width: 70%;
  padding: 4% 3%;/*top&bottom left&right*/
}

/*small screen*/
@media screen and (max-width: 450px) {
  #newsletter-section {
    width: 100%;
  }
}

#newsletter-text {
  color: #96BB7C;
}

@media screen and (min-width: 1201px) {
  #newsletter-text {
    text-align: left;
 }
}

@media screen and (max-width: 840px) {
  #join-our-newsletter {
    font-size: 36px;
 }
 #newsletter-text {
   font-size: 16px;
 }
}

@media screen and (max-width: 668px) {
  #join-our-newsletter {
    font-size: 30px;
 }
 #newsletter-text {
   font-size: 14px;
 }
}

#newsletter-signup-button {
  background-color: #EEBB4D;
  font-size: 1rem;
}

@media screen and (max-width: 840px) {
  #newsletter-signup-button {
    font-size: 0.7rem;
  }  
}

/*EDUCATORS PAGE*/ /*EDUCATORS PAGE*/ /*EDUCATORS PAGE*/ /*EDUCATORS PAGE*/ /*EDUCATORS PAGE*/ /*EDUCATORS PAGE*/ /*EDUCATORS PAGE*/
#state-standards {
  height: 800px;
  border-style: none; /*we REALLY don't like borders*/
}

/*RESOURCES PAGE*/ /*RESOURCES PAGE*/ /*RESOURCES PAGE*/ /*RESOURCES PAGE*/ /*RESOURCES PAGE*/ /*RESOURCES PAGE*/ /*RESOURCES PAGE*/
.resources-columns {
  background-color: rgba(150, 187, 124, 0.10);
  height: auto; /*original was 1041px*/
  padding-bottom: 1.5rem;
}

.rc-entry {
  padding-top: 1.5rem;
}

.rc-entry-image {
  border-radius: 5%;
}

.rc-entry-title {
  margin-top: -0.5rem;
  color: #96BB7C;
}

.rc-entry-desc {
  font-size: 0.6rem;
  margin-bottom: 0px;
}

.rc-entry-tags {
  width: 2.5rem;
  font-size: 0.5rem;
  color: #D6EFC7;
  background-color: rgba(24, 77, 71, 0.80);
}

.rc-entry-tags:hover {
  color: #3ceeae;
}
@media screen and (min-width: 992px) {
  /*prevents tag from misaligning with text on Resources page*/
  .rc-entry-tags {
    padding-left: 1px;
    padding-right: 1px;
    margin-right: 1rem;
  }
}

/*CONTACT US PAGE*//*CONTACT US PAGE*//*CONTACT US PAGE*//*CONTACT US PAGE*//*CONTACT US PAGE*//*CONTACT US PAGE*//*CONTACT US PAGE*/
#message-box {
  height: 300px;
}

#message-button {
  background-color: #184D47;
  border-width: 0px;
  color: white;
}

label {
  font-weight: bold;
  font-size: 1rem;
}

.contact-us-input {
  border-radius: 0px;
  border-color: white;
  border-bottom: 3px solid #96BB7C; /* COLORED BOTTOM BORDERS*/
}

#referral, #subject {
  border-radius: 0px;
  border-color: white;
}

select:invalid { /* THIS MAKES THE PLACEHOLDER TEXT FOR THE DROPDOWNS DISPLAY PROPERLY*/
  color: #6c757d;
}

#subject-other, #referral-other {
  display: none;
}

/*TRYING REAL HARD TO MAKE THE CONTACT FORM NOT UGLY*/
#return-home-button {
  background-color: #184D47;
  border-width: 0px;
  color: white;
}