html {
  font-size: 1rem;
}

@media screen and (min-width: 576px) {
  html {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 1.6rem;
  }
}

body {
  font-family: "Poppins" sans-serif;
  overflow-x: hidden;
  min-height: 100%;
}

.navbar {
  position: fixed;
  background-color: #169c6c;
  z-index: 1;
  width: 100%;
}

.navbar ul {
  background-color: #169c6c; /*background of hamburger dropdown*/
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.dropdown-menu {
  background-color: #169c6c; /*for the k-2 and 3-5 toggle*/
  border-style: none;
  color: #3ceeae;
}

.dropdown-item {
  color: #3ceeae;
  text-align: right;
}

nav {
  text-align: center;
}

nav a {
  font-size: 20px;
  color: #3ceeae; /*text color for navbar links*/
  margin-right: 0.9em;
}

a:hover {
  text-decoration: none; /*Because we hate underlined links, this is NOT 2004*/
}
main {
  margin-bottom: 4%;
  padding-top: 5em; /*this shifts the body down*/
  min-height: 100vh; /*ensures footer at bottom of page even if there's little page content (see Parents page)*/
}

main h2 {
  /*Mission Statement: WHAT HOW HOW EXACTLY?*/
  margin-left: 5%;
  font-size: 2.5rem;
  color: #3ceeae;
  margin-top: 60px;
}

main h3 {
  /*For the second title in Educators page*/
  margin-left: 5%;
  font-size: 2rem;
  color: #3ceeae;
  margin-top: 60px;
}

main p {
  margin-left: 5%;
  width: 50%;
  font-size: 1rem;
  color: #20b781;
}

#col2 {
  visibility: hidden;
  width: 0%;
  height: 0%;
}

#col2 img {
  width: 300px;
  height: auto;
  margin: 1rem;
}

@media screen and (min-width: 992px) {
  #col2 {
    visibility: visible;
  }
}

/*TODO we'll figure this out some time...*/
#about-us-button {
  color: #43ffbc; /*text color*/
  font-size: 1.5rem;
  border: none;
  border-radius: 2.5%;
  background-color: #25c48b;
  margin-left: 5rem;
}

.bio-photo {
  width: 300px;
  height: auto;
  margin-bottom: 2.5rem;
}

#about-us-section {
  color: #3ceeae;
}

#group-bio {
  color: #20b781;
  padding: auto 30%;
}

@media screen and (max-width: 768px) {
  .bio-photo,
  .bio-text {
    margin-left: 10%;
  }
  #footer {
    padding-right: 0px;
  }
}
@media screen and (max-width: 992px) {
  #br {
    display: none !important;
  }
}

/* #footer {
  position: relative;
  bottom: 0;
  width: 101%;
  padding-left: 0px;
} */

footer {
  width: 100%;
  height: 47px;
  background: #169c6c;
  text-align: right;

  position: relative;
  bottom: 0;
  padding-left: 0px;
}

footer a {
  color: #3ceeae;
  padding-right: 15px;
}

#maya-bio,
#nhi-bio,
#amanda-bio {
  font-size: 0.8rem;
  display: none;
  width: 300px;
  height: auto;
  margin-bottom: 1rem;
}

/*EDUCATORS PAGE*/ /*EDUCATORS PAGE*/ /*EDUCATORS PAGE*/ /*EDUCATORS PAGE*/ /*EDUCATORS PAGE*/ /*EDUCATORS PAGE*/ /*EDUCATORS PAGE*/
#state-standards {
  height: 800px;
  border-style: none;
}

/*RESOURCES PAGE*/ /*RESOURCES PAGE*/ /*RESOURCES PAGE*/ /*RESOURCES PAGE*/ /*RESOURCES PAGE*/ /*RESOURCES PAGE*/ /*RESOURCES PAGE*/
.resources-columns {
  background-color: rgba(158, 248, 215, 0.25);
  height: auto; /*original was 1041px*/
  padding-bottom: 1.5rem;
}

.rc-entry {
  padding-top: 1.5rem;
}

.rc-entry-image {
  border-radius: 5%;
}

.rc-entry-title {
  margin-top: -0.5rem;
  color: #25c48b;
}

.rc-entry-desc {
  font-size: 0.6rem;
  margin-bottom: 0px;
}

.rc-entry-tags {
  width: 2.5rem;
  font-size: 0.5rem;
  color: #20b781;
  background-color: rgba(158, 248, 215, 0.42);
}

@media screen and (min-width: 992px) {
  /*prevents tag from misaligning with text on Resources page*/
  .btn {
    padding-left: 1px;
    padding-right: 1px;
    margin-right: 1rem;
  }
}
